* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}


header {
    background-color: #2c3e50;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo-tech {
    width: 100px;
    margin: 10px;
    display: inline-block;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 1.5rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-top {
    margin-top: 60px;
}

.hero-sobre {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.hero-contato {
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.hero-text {
    flex: 1;
    padding-right: 2rem;
}

.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #2c3e50;
}

.hero-text p {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    color: #555;
}


.hero-image {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px;
}


footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #2c3e50;
    color: white;
    margin-top: 2rem;
}


@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 2rem 1rem;
    }
    
    .hero-text {
        padding-right: 0;
        margin-bottom: 2rem;
    }
    
    header {
        flex-direction: column;
        padding: 1rem;
    }
    
    nav ul {
        margin-top: 1rem;
    }
    
    nav ul li {
        margin: 0 0.5rem;
    }
}